<div class="row my-5">
  <div class="col-12">
    <div class="container my-5">
      <div class=about-header>
        <h2 class="white-section-header">About</h2>
        <hr>
      </div>
      <div id="about" class="col-6">
        <h2></h2>
      </div>
      <div class="col-6">
      </div>
    </div>
  </div>
</div>
