<div class="container centered-landing">
  <div class="row banner">
    <div class="col-sm-12 col-md-12 col-12">
       <div class="avatar-img my-3 d-flex justify-content-center align-items-center">
        <div class="module-border-wrap">
          <%= image_tag 'avatar.png', class: "avatar", alt: "profile photo" %>
        </div>
      </div>
      <div class="hero d-flex flex-column align-items-center">
        <div class="greeting-wrapper">
          <h1 class="center-greeting">Hi, I'm <span id="first-name">Ramone</span></h1>
        </div>
        <div class="self-intro">
          <p>
            A <span class="highlight">Ruby on Rails developer</span> living in Tokyo. With <span class="highlight">5 YOE in system integration</span>,
            I am on a journey to upskill and transition into <span class="highlight">full-stack development</span>,
            leveraging my background to build <span class="highlight">impactful web applications</span> that bridge technology and user needs.
          </p>
        </div>
        <!-- Social Links Section -->
        <%= partial 'partials/social' %>
      </div>
    </div>
  </div>
</div>
