<div class="row justify-content-center banner">
  <div class="col-12 d-flex h-100">
    <div class="hero col-8">
      <h1 class="title-main">Hi, Im <span id="first-name">Ramone</span></h1>
      <p id="hero-statement" class="col-9">
        It's nice to meet you! Im a Full-Stack Rails Developer.
        Creator of web applications, some practical, and others just for fun.
        Feel free to explore my work and checout my latest projects!
      </p>
      <button class="btn">Contact Me</button>
    </div>
    <div class="hero-img col-4">
      <%= image_tag 'profile-portfolio.png', alt: "profile photo" %>
    </div>
  </div>
</div>
