<div class="row justify-content-center banner">
  <div class="col-12 d-flex h-100">
    <div class="hero col-8">
      <h1 class="title-main">Hi, Im <span id="first-name">Ramone</span></h1>
      <p id="hero-statement" class="col-9 my-3">
        It's nice to meet you! Im a <span class="highlight">Full-Stack Web Developer</span> in Tokyo who loves bringing ideas to life with code!
        I work mostly with <span class="highlight">Ruby</span>, <span class="highlight">SQL</span>, <span class="highlight">JavaScript</span> and <span class="highlight">REST APIs.</span>
        Feel free to explore my work and checkout my latest projects!
      </p>
      <button class="btn my-3">Learn More</button>
      <!-- Social Links Section -->
      <%= partial 'partials/social' %>
    </div>
    <div class="hero-img col-4">
      <%= image_tag 'profile-portfolio.png', alt: "profile photo" %>
    </div>
  </div>
</div>
