<div class="container centered-landing">
  <div class="row banner">
    <div class="col-sm-12 col-12">
       <div class="avatar-img d-flex justify-content-center align-items-center">
        <div class="module-border-wrap">
          <%= image_tag 'avatar.png', class: "avatar", alt: "profile photo" %>
        </div>
      </div>
      <div class="hero d-flex flex-column align-items-center">
        <div class="greeting-wrapper">
          <h1 class="center-greeting">Hi, I'm <span id="first-name">Ramone</span></h1>
        </div>
        <div class="self-intro">
          <p>
            A ruby on rails developer living in Tokyo. With 5 YOE in system integration,
            I am on a journey to upskill and transition into full-stack development,
            leveraging my background to build impactful web applications that bridge technology and user needs.
          </p>
        </div>
        <!-- Social Links Section -->
        <%= partial 'partials/social' %>
      </div>
    </div>
  </div>
</div>
