<div class="row justify-content-center banner">
  <div class="col-12 d-flex h-100">
    <div class="hero col-6">
      <h1 class="title-main">Hi, Im <span>Ramone</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum in ut dolorem repudiandae ipsam consectetur delectus et praesentium, minus tempora ab tempore, veniam possimus necessitatibus, quaerat officia labore esse natus?</p>
      <button class="btn">Contact Me</button>
    </div>
    <div class="hero-img col-6">
      <%= image_tag 'profile-portfolio.png', alt: "profile photo" %>
    </div>
  </div>
</div>
