<div class="container mt-5">
  <div class="skills-title">Tools and Tech</div>
  <hr>
  <div class="skill-grid">
    <%data.skills.each do |skill|%>
      <div class="border-wrap">
        <div class="skill-cell d-flex flex-column justify-content-center align-items-center">
          <div> <img src="<%= skill.image %>" class="skill-img" alt="#"></div>
          <div class="skill-name"><%=skill.name%></div>
        </div>
      </div>
    <%end%>
  </div>
</div>
