<div class="row my-3">
  <div class="col-12">
    <div id="contact">
      <div class="d-flex justify-content-start flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/RamoneRobertson", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin" style="color: #0b65c2;"></i>
          <%= link_to "", "https://www.linkedin.com/in/ramone-robertson", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
