<div id="contact" class="my-3">
    <div class="button-social d-flex justify-content-center align-items-center">
      <i class="fa-brands fa-github me-3"></i> <span class=btn-social-span>Github</span>
      <%= link_to "", "https://github.com/RamoneRobertson", target: '_blank', class: 'button-social-link' %>
    </div>
    <div class="button-social d-flex justify-content-center align-items-center">
      <i class="fa-brands fa-linkedin me-3"></i> <span class=btn-social-span>LinkedIn</span>
      <%= link_to "", "https://www.linkedin.com/in/ramone-robertson", target: '_blank', class: 'button-social-link' %>
    </div>
    <div class="button-social d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-envelope me-3"></i> <span class=btn-social-span>Email</span>
      <%= link_to "", "https://www.linkedin.com/in/ramone-robertson", target: '_blank', class: 'button-social-link' %>
    </div>
</div>
