.white-section-header{
  color: white;
  text-align: center;
}

hr{
  color: white;
  width: 30%;
}

.about-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
