.white-section-header{
  color: white;
  text-align: center;
}

.about-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  hr{
    color: $white;
    width: 30%;
  }
}
