.centered-landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  #first-name {
    color: $green;
  }

  .self-intro {
    max-width: 1080px;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Montserrat";
    margin-bottom: 48px;
  }

  .glassy-text {
    background-color: rgba(255, 255, 255, 0.8);
    color: $black;
    line-height: 1.5;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .highlight {
    color: #e23348;
  }

  .greeting-wrapper {
    padding: 8px;
    max-width: 1080px;
  }

  .center-greeting {
    width: 100%;
    font-family: "Roboto Condensed";
    font-size: 4rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
}

.avatar-img {
  img {
    width: 154px;
    max-height: 100%;
  }
}

@media screen and (max-width: 444px) {
  .hero {
    .center-greeting {
      font-size: 3rem;
    }
  }

  .avatar-img {
    img {
      width: 148px;
    }
  }
}

@media screen and (max-width: 340px) {
  .hero {
    .center-greeting {
      font-size: 2rem;
    }
  }

  .avatar-img {
    img {
      width: 120px;
    }
  }
}
