row {
  margin: 0px;
}

#banner-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9;
}

.hero {

  #first-name {
    color: $green;
  }

  .glassy-text {
    background-color: rgba(255, 255, 255, 0.8);
    color: $black;
    line-height: 1.5;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .highlight {
    color: #e23348;
  }

  .title-main {
    width: 100%;
    font-family: 'Anton';
    font-size: 7.2rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  #hero-statement {
    margin: 0 0 20px;
    box-sizing: border-box;
    font-size: 1.25vw;
    font-family: "Montserrat";
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .btn {
    background: black;
    color: white;
  }
}

.hero-img {

  img{
    width: 100%;
    max-height: 100%;
    box-shadow: rgba(240, 46, 46, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px, rgba(240, 46, 95, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
}
