#header {
  width: 100%;
  position: sticky;
}
.nav-container {
  #navbar {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
}

#navbar {
  a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: rgb(157, 181, 148);
    }
  }
}
