.proj-wrapper {
  .bold-divider {
    font-weight: bolder;
    color: rgb(207, 28, 28);
    height: 6px;
    border-top: 10px solid $black;
  }

  .glassy-text {
    background-color: $black;
    color: $white;
    line-height: 1.5;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    height: 100%;

    h3 {
      font-family: "Oswald";
      color: $green;
      font-size: 18px;
    }

    .proj-desc {
      font-family: Manrope;
      font-weight: 900;
      font-size: 28px;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .proj-media {
    margin-left: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: transform 0.2s;
  }

  .tech-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .skill-div {
    flex-direction: column;
    color: $white;
    height: 48px;
    width: 48px;
    background-color: $black;
    justify-content: center;
    align-items: center;
    padding: 48px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: "Roboto Condensed";
  }

  .skill-img {
    height: 40px;
    width: 40px;
  }

  .skill-img:hover {
    transform: scale(1.1);
  }

  .skill-name {
    font-size: 12px;
  }

  .proj-links {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .proj-btn {
    padding: 16px 32px;
    background: $green;
    border-radius: 16px;
    text-decoration: none;
    width: 12em;
    margin: 16px;
    transition: transform 0.2s;
    text-decoration: none;
    color: $white;
  }

  .proj-btn:hover {
    transform: scale(1.2);
    background-color: $green;
  }

  .proj-btn:visited {
    text-decoration: none;
  }
}

.skill-div:nth-child(2) {
  transition-delay: 100ms;
}
.skill-div:nth-child(6) {
  transition-delay: 100ms;
}
.skill-div:nth-child(3) {
  transition-delay: 300ms;
}
.skill-div:nth-child(7) {
  transition-delay: 300ms;
}
.skill-div:nth-child(4) {
  transition-delay: 500ms;
}
.skill-div:nth-child(8) {
  transition-delay: 500ms;
}
