.proj-wrapper {
  .bold-divider {
    font-weight: bolder;
    color: black;
    height: 6px;
    border-top: 10px solid $black;
  }

  .glassy-text {
    background-color: rgba(255, 255, 255, 0.8);
    color: $black;
    line-height: 1.5;
    padding: 1rem 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .proj-media {
    margin-left: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: transform 0.2s;
  }

  .tech-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 342px;
  }

  .skill-div {
    flex-direction: column;
    color: $white;
    height: 48px;
    width: 48px;
    background-color: $black;
    justify-content: center;
    align-items: center;
    padding: 48px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .skill-img {
    height: 40px;
    width: 40px;
  }

  .skill-name {
    font-size: 12px;
  }

  .proj-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    text-align: center;
  }

  .proj-btn {
    padding: 16px 32px;
    background: $black;
    text-decoration: none;
    width: 12em;
    margin: 16px;
    transition: transform 0.2s;
    text-decoration: none;
    color: $white;
  }

  .proj-btn:hover {
    transform: scale(1.2);
    background-color: $green;
  }

  .proj-btn:visited {
    text-decoration: none;
  }
}

.skill-div:nth-child(2) {
  transition-delay: 100ms;
}
.skill-div:nth-child(6) {
  transition-delay: 100ms;
}
.skill-div:nth-child(3) {
  transition-delay: 300ms;
}
.skill-div:nth-child(7) {
  transition-delay: 300ms;
}
.skill-div:nth-child(4) {
  transition-delay: 500ms;
}
.skill-div:nth-child(8) {
  transition-delay: 500ms;
}
