<div class="main-container">
  <!-- Banner Section -->
  <section class="section">
    <!-- Navbar Section -->
    <%= partial 'partials/navbar.html.erb' %>
    <%= partial 'partials/banner' %>
  </section>
  <!-- About Section -->
  <section class="section" style="background: rgb(7,7,7);background: linear-gradient(90deg, rgba(7,7,7,1) 0%, rgba(67,67,67,1) 70%);">
    <%= partial 'partials/about' %>
  </section>
  <!-- Projects Section -->
  <section class="sectionß">
    <%= partial 'partials/projects' %>
  </section>
</div>
