<div class="main-container" style="background: linear-gradient(to top, #000000, #434343); color: #ffffff">
  <!-- Banner Section -->
  <section class="section">
    <!-- Navbar Section -->

    <%= partial 'partials/banner' %>
  </section>
  <!--Skills Section-->
  <section class="section">
    <%= partial 'partials/skills'%>
  </section>
  <!-- Projects Section -->
  <section class="section">
    <%= partial 'partials/projects' %>
  </section>
</div>
