<div class="main-container">
  <!-- Banner Section -->
  <section class="section">
    <!-- Navbar Section -->
    <%= partial 'partials/navbar.html.erb' %>
    <%= partial 'partials/banner' %>
  </section>
  <!-- About Section -->
  <section class="section">
    <%= partial 'partials/about' %>
  </section>
  <!-- Projects Section -->
  <section class="section">
    <%= partial 'partials/projects' %>
  </section>
</div>
